:host {
  height: calc(100% - 1rem);
  display: flex;
  flex-direction: column;
}

app-chat-message-list {
  flex: 1;
  overflow-y: auto;
}

.header {
  display: flex;
  align-items: center;
}

.header mat-icon {
  cursor: pointer;
}

.header h4 {
  margin-left: 10px;
}